$light-grey: #eaeaea;
$transparent-black: rgba(0, 0, 0, 0.52) ;
$nearly-black: #0A0A0A ;
$grey-text: #B5B5B5;
$charcoal : #454545;

///////////////////////////////
///HOME PAGE
//////////////////////////////

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hamburger-container {
  display: none;
}

.desktop-hide {
  display: none;
}

.desktop-show {
  display: block;
}

.index-screen{
  background-image: url(../assets/studio.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:100%;
  
  .center-container {
    
    position: fixed;
    display:inline-block;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border: 1px solid white;
    border-radius: 1px;
    padding: 20px 40px;
  
    .center-text {
      font-weight: 500;
      letter-spacing: 4px;
      word-spacing: 0px;
      color: white;
      margin: 0 0 5px;
      font-size:70px;
    

    }
  
    .icon-container {
      margin: auto;
      text-align:center;
      i {
        cursor: pointer;
        display:inline-block;
        color: white;
        font-size: 40px;
        padding: 0px 3px;
      }
    }
  }

}

.navigation-container{
  height:0px;
  width: 100%;
  
  .navigation{
    position:absolute;
    bottom: 0px;
    background-color: $transparent-black;
    padding: 0px ;
    width: 100%;
    padding-left: 7px;
    box-sizing:border-box;

  
    i {
      color: white;
      padding-top: 2px;
      padding-left: 10px;
      font-size: 30px;
      position: relative;
      top: 3px;
  }
    
    .navbar-title {
      font-weight: 500;
      letter-spacing: 4px;
      word-spacing: 0px;
      color: white;
      padding: 12px 0px 12px 7px;
      margin: 0;
      display:inline-block;
      font-size: 25px;
  }
    
    .navbar-links {
      display:inline-block;
      padding: 18px 10px 0px 0px;
      float: right;
      vertical-align:top;
      margin: 0;
      
      .slash {
        display:inline-block;
        color:white;
        font-weight: 100;
      }
      
      .link {
        display:inline-block;
        font-weight: 800;
        margin: 0px 7px;
        a {
          text-decoration: none;
          color: $grey-text;
        }
        a:hover {
          color: white;
        }
  
      }
    }
    
    .spacer {
      clear:both;
    }
    
  }
}



///////////////////////////////
///Normal Pages
//////////////////////////////

.navigation-container-top {
  @extend .navigation-container;
  
  .navigation {
    position: static;
    background-color: rgba(0, 0, 0, 0.82);
    
    .navbar-links {
      padding-top: 16px;
    }
  }
}

.news-background {
  background-image: url(../assets/studio.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:100%;
  background-position-y: -200px ;
}

.cover-picture {
  width: 100%;
  height: 400px;

  
  .center-text-page {
    font-weight: 500;
    letter-spacing: 4px;
    word-spacing: 0px;
    color: white;
    font-size:70px;
    top: 200px;
    border: 1px solid white;
    border-radius: 1px;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
   
  }
}

.white-background {
  background-color: white;
  width: 100%;
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.23);
  box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.23);
  padding-top: 5px;
}

.content-container {
  //width: 100%;
  background-color:white ;
  padding-top: 80px;
  min-height: 500px;
    
  .content-column {
    position:relative;
    bottom: 30px;
    padding-right: 60px;
    
    .content-title {
      color: $charcoal;
      font-size: 75px;
      font-weight: 600;
      margin: 0px 0px 10px;
    }
    
    .content-divider {
      border: 3px solid $charcoal ;
      height: 0px;
      width:85px;
      margin-bottom: 27px;
    }
    
    .content-date {
      color: #757575;
      font-size: 17px;
      font-weight: 400;
      margin: 0px 0px 20px;
      font-style:italic;
    }
    
    .content-body {
      color: #454545;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
    }
    
    .underline {
      border-bottom: 2px solid #454545;
      width: 150px;
      margin: auto;
      padding-top: 30px;
      margin-bottom: 80px;
    }
    
  }
  
  .side-column {
    background-color: #DBDBDB;
    border-radius: 2px;
    
    .c-right-title {
      margin: 0px;
      color: $charcoal;
      padding: 20px 0px 20px 0px;
      font-size: 30px;
    }
    
    .c-right-divider {
      border: 2px solid #C1C1C1 ;
      height: 0px;
      width:85px;
      margin-bottom: 27px;
      margin-left: 20px;
    }
    
    .social-media-container {
      background-color: #1D1D1D;
      width: 90%;
      height: 200px;
      margin: 20px auto;
    }
  }
  
  .one-column {
    $padding: 100px;
    padding-left: $padding;
    padding-right: $padding;
    padding-bottom: 50px;
  }
    
}

.artists-container {
  .artist {
    margin: auto;
    height: 150px;
    width: 700px;
    background-color: #E4E4E4;
    
    .picture {
      background-image: url(../assets/mactire.jpg); 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      width: 150px;
      height: 100%;
      display: inline-block;
    }
    
    .info {
      width: 540px;
      display: inline-block;
      vertical-align:top;
      padding: 10px 20px;
      
      h3 {
        margin-top: 0px;
        font-size: 25px;
        color: $charcoal;
        margin-bottom: 0px;
      }
      
      .artist-underline {
        width: 60px;
        border-bottom: 2px solid $charcoal;
        margin-bottom: 10px ;
      }
      
      p {
        color: $charcoal;
      }
      
      .icons-container {
        position: relative;
        right: 0;
        bottom: 0;
        
        i {
          color: $charcoal;
          display: inline;
          padding-left: 3px;
          font-size: 20px;
        }
      }
      
    }
  }
}

.shows-container {
  @extend .artists-container;
  
  .show {
    @extend .artist;
    
    .picture {
      background-image: url(../assets/studio.png); 
    }
    
    .info {
      .show-underline {
        @extend .artist-underline;
        //width: 200px;
      }
    }
  }
}

.footer {
  background-color: $nearly-black;
  
  p {
    color: white;
    text-align:center;
    padding-top: 30px;
  }
}

.navigation-container-footer {
  @extend .navigation-container;
  
 .navigation {
    position: static;
    background-color: $nearly-black;
    text-align:center;
    
    .navbar-links {
      padding-top: 15px;
      padding-bottom: 25px;
      float: none;
    }
    
    i {
      display: none;
    }
    
    .navbar-title {
      display: none;
    }
  }
}


///////////////////////////////
///MOBILE
//////////////////////////////

@media (max-width: 1100px) {
  .index-screen {
    .center-container {
      .center-text {
        font-size: 60px;
      }
    }
  }
} //front page font

@media (max-width: 1000px) {
  .white-background {
    .content-container {
      width: 750px;
      .content-column {
        width: 100%;
      }
      
      .side-column {
        display: none;
      }
      
    }
  }
}

@media (max-width: 940px) {
  .index-screen {
    .center-container {
      .center-text {
        font-size: 45px;
      }
    }
  }
} //front page font

@media (max-width: 800px) { // makes them block for mobile display

  
  // HOME
  
  .desktop-hide {
    display: block;
  }
  
  .desktop-show {
    display: none;
  }
  
  .index-screen{
    padding-top: 200px;
    
    .center-container {
      display: block;
      position: static;
      width: 300px;
      margin: auto;
      transform: none;
      
      .center-text {
        line-height: 60px;
        font-size: 70px;


      }
      
      .icon-container {
        i {
          font-size: 56px;
          padding: 0px 6px;
        }
      }
  
    }
  }
  
  
  //OTHER
  
  .news-background {
    background-image: none;
  }
  
  .hamburger-container { //shows hamburger
      background-color: #272727;
      border-radius: 3px;
      padding: 3px 6px;
      width: 37px;
      display: inline-block;
      margin-right: 7px;
      margin-top: 8px;
      border: 1px solid white;
      float: right;
      
    
    .line {
      border: 1px solid white;
      margin: 5px 2px;
    }
    
  }
  
  .navigation-container {
    //display:table-cell;
    height:initial;
    
    .navigation {
      padding-left: 0px;
      
      i {
        padding-left: 11px;
      }
    
      .navbar-links {
        display: none;
        width: 100%;
        background-color: $charcoal;
        padding: 15px 10px 10px 10px;
        
        -moz-box-shadow:    inset  0  8px 8px -8px black, 
                            inset  0 -8px 8px -8px black;
        -webkit-box-shadow: inset  0  8px 8px -8px black, 
                            inset  0 -8px 8px -8px black;
         box-shadow:        inset  0  8px 8px -8px black, 
                            inset  0 -8px 8px -8px black;
        
        .slash {
          display: none;
        }
        
        .link {
          display: block;
          padding: 0px 10px 10px 0px;
          font-size: 18px;
        }
        
      }
      
    }
  }
  
  .cover-picture {
    padding-top: 150px; 
    background-image: url(../assets/studio.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 330px;
    
    .center-text-page {
      text-align: center;
      display: block;
      width: 200px;
      margin: auto;
      position: static;
      transform: none;
      font-size: 60px;
    }
      
  }
    
  .content-container {
    
    .content-column {
      padding-left: 20px;
      padding-right: 20px;
      .content-title {
        font-size: 65px;
      }
      
      .content-body {
        font-size: 18px;
      }
    }
    
    .side-column {
      display: none;
    }
    
    .one-column {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .artists-container {
    .artist {
      width:100%;
      height: initial;
      .picture {
        height: 70px;
        width: 70px;
      }
      .info {
        width: initial;
        height: initial;
      }
    }
  }
  
  .footer {
    padding-bottom: 20px;
  }
  .navigation-container-footer {
    display: none;
  }
  
}