<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="assets/favicon.ico"> 
    
    <title>Unmute Records</title>
    
    <meta name="description" content="Belfast Based Record Company">
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    
    <script src="./scripts/jquery.min.js"></script>
    <script src="./scripts/jquery_color.min.js"></script>
    <script src="./scripts/main.js"></script>
    
    <script src="https://use.typekit.net/szl6uuz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    

  </head>